@model CarWebApp.ViewModels.DriverViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DriverSpr</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditedByUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditedByUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EncryptedId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
