@model CarWebApp.ViewModels.WayBillViewModel

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>WayBill</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Cd)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Cd)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DtGive)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DtGive)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DtReturn)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DtReturn)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.VehicleSprName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.VehicleSprName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DriverSprName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DriverSprName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DtOut)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DtOut)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DtIn)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DtIn)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SpdOut)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SpdOut)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SpdIn)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SpdIn)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FuelSprName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FuelSprName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FuelBalOut)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FuelBalOut)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FuelBalIn)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FuelBalIn)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FuelFillUp)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FuelFillUp)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FuelConsumNorm)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FuelConsumNorm)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FuelConsumFact)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FuelConsumFact)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreatedByUserName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CreatedByUserName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreateDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CreateDate)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EditedByUserName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EditedByUserName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.EditDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.EditDate)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.EncryptedId">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
